.huu-wpadmin-content{padding:5px;height:100%;}


#huu-col-left{magin-top:15px;margin-right:307px}
#huu-col-right{float:right;width:290px;padding-top:37px!important}
#huu-col-right p.version{font-size:23px;line-height:29px;font-family:HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue',sans-serif;color:#ccc;margin-top:0}
#huu-col-left .wp-list-table th#fields{width:25%}
#huu-col-left form{width:100%}
#huu-overview{position:relative;float:left;padding-top:20px;width:100%}

td.column-columnname label{font-weight:bold;padding-top: 15px;}
pre{background:#eee;font-family:"Courier 10 Pitch",Courier,monospace;font-size:.85em;line-height:1.5em;margin-bottom:1.6em;padding:1.6em;overflow:auto;max-width:100%;box-shadow:0 3px 5px #ddd inset}

@media screen and (max-width:782px) {
#huu-col-right{float:left!important;width:100%!important}
#huu-col-left{margin-right:0!important}
}

/*box*/
.huu-wp-box{border:1px solid #e1e1e1;position:relative}
.huu-wp-box .inner{background-color:#ececec;padding:10px}
.huu-wp-box .inner p{color:#666}
.huu-wp-box .footer{background:#f5f5f5;border-top:1px solid #e1e1e1;overflow:hidden;padding:10px;position:relative}
.huu-wp-box .footer ul.left{float:left}
.huu-wp-box .footer ul li{margin:0;padding:0}
.huu-wp-box .footer ul.left li{margin-right:10px}
.huu-wp-box .footer ul.right{float:right}
.huu-wp-box .footer ul.right li{margin-left:10px}

/*slider*/
.slider.round{border-radius:34px}
.slider.round:before{border-radius:50%}
.huuguu-switch{position:relative;display:inline-block;width:60px;height:20px}
.huuguu-switch input{opacity:0;width:0;height:0}
.slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#ccc;-webkit-transition:.4s;transition:.4s}
.slider:before{position:absolute;content:"";height:26px;width:26px;left:4px;bottom:4px;background-color:#fff;-webkit-transition:.4s;transition:.4s}
input:checked + .slider{background-color:#28a745}
input:focus + .slider{box-shadow:0 0 1px #28a745}
input:checked + .slider:before{-webkit-transform:translateX(26px);-ms-transform:translateX(26px);transform:translateX(26px)}

















